.task {
    margin-bottom: 0.75rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;

    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;

    padding: 1rem;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.task p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    color: var(--gray-100)
}

.checkboxWrapper {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    margin: 0;

    cursor: pointer;
    position: relative;

    width: 1rem;
    height: 1rem;
    border-radius: 999px;
    border: 2px solid var(--blue);

    transition: all 0.2s;
}

.checkbox:focus {
    outline: none !important; 
}

.checkbox:hover {
    background: var(--gray-400);
    border: 2px solid var(--blueDark);
}

.checkbox:checked {
    background: var(--purple);
    border: 2px solid var(--pruple);
}

.checkbox:checked:hover {
    background: var(--purpleDark);
}

.checkmark:after {
    content: '';
    position: absolute;
    height: 6px;
    width: 4px;
    left: calc(50% - 3px);
    top: 50%;
    border: solid var(--gray-100);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
}

.checkbox:checked + .checkmark:after {
    opacity: 1;
}


.trashWrapper {
    border-radius: 4px;

    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.2s;
}

.trashWrapper:hover {
    background-color: var(--gray-400);
}

.trashWrapper:hover svg {
    color: var(--danger);
}